.construct {
  background: url(Images/construction.png);
  color: #ffffff;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
}
.center_button
{
   max-width: 250px;
}
.navbar-brand
{  
   margin-top: 0px;
}
nav
{
   margin-bottom: 0px;
   padding-bottom: 10px;
   border-bottom: 0px;
}
{
   width: 200px;
}
label
{
   margin-bottom: 10px;
   padding-bottom: 10px;
}
.form-control
{
   margin-bottom: 10px;
}
h1
{
   text-align: left;
   padding-left: 10px;
}
padding
{
   text-align: left;
   
}
img
{
   margin-left: 30px;
}
.img2
{
   margin-left: 0px;
   height: 700px;
   width: 700px;
}
input
{
   margin-bottom: 15px;
}
.input-recaptcha{
 width:172px;   
}
.Nom_Page
{
   font-size: 30px;
   margin-top: 5px;
}
.master_name
{

}
body
{
	background-color: #F1F1F1;
}
.inscrip_img
{	
	height: 150px;
	width: 150px;
	max-height: 150px;
	max-width: 150px;
	position: center;
	margin-left: 100px;
	margin-bottom: 30px;
}
.inscrip_img_2
{	
	height: 40px;
	width: 40px;
	max-height: 40px;
	max-width: 40px;
	position: right;
	margin-left: 10px;
	margin-bottom: 5px;
   margin-top: 5px;
}
.master_page_text
{
   color: #ffffff;
}
.btn_chose
{
	margin-bottom: 30px;
	position: center;
	margin-left: 70px;
	width: 200px;
}
footer div.footer-ribbon:before {
    border-right-color: #005580;
}
footer div.footer-ribbon:before {
    border-right: 10px solid #005580;
    border-top: 16px solid rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 0;
    left: -10px;
    position: absolute;
    top: 0;
    width: 7px;
}
footer div.container div.row > div {
    margin-bottom: 25px;
}


footer div.footer-ribbon span{
    color: #ffffff;
    font-weight: 700;
}

footer {
    background: #121214;
    border-top: 4px solid #1F1F1F;
    font-size: 0.9em;
    padding: 40px 0 0;
    position: asbolute;
	margin-top: 30px;
}
nav {
  margin-bottom: 0px;
  padding: 5px;
  border-bottom: 0px;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}








.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}
.btn-primary.raised:active, .btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

.btn {
  display: inline-block;
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
	vertical-align: middle;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #289fd9;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
    
}




.table-bordered {
border: 1px solid #B0B0B0;
border-collapse: separate;
border-left: 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.table {
width: 100%;
margin-bottom: 20px;
background-color: transparent;
border-collapse: collapse;
border-spacing: 0;
display: table;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: 1px solid #CACACA;
}